<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <title>TheOrangeCow - Cow-Servers - Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1 style='color:red; font-family: "Press Start 2P", monospace; text-align:center;'>LOGIN</h1>
    <p id="disply"></p>
    <p id="eror"></p>

    <input id = "password" style="display: none;" type="password" name="password" placeholder="Password">
    <p style="text-align:center;">This is cow-servers to find out more go to <a href="https://github.com/TheOrangeCow/cow-servers">here</a></p>

</body>
<script>
    const input = document.getElementById("password");
    const disply = document.getElementById("disply");
    const eror = document.getElementById("eror");
    input.focus();
    document.body.addEventListener("click", () => input.focus());
    input.addEventListener("keydown", async e => {
        if (e.key === "Enter") {
            try {
                const password = input.value;
                const res = await fetch("/cow-servers/login", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({ password })
                });
                const text = await res.text();

                if (text.includes("Wrong")) {
                    eror.textContent = "Wrong password";
                } else {
                    window.location.href = "/cow-servers/";
                }

            } catch (err) {
                eror.textContent = "Error executing login";
            }
        }
    });
</script>
</html>
